{%- if protocol == 'ipv4' %}
  {%- for vrf in range(1, 6) %}
    {%- for rd_number in range(1, 6) %}
vrf definition {{ vrf_name }}{{ vrf }}
rd {{ rd_number }}
!
 address-family ipv4
  route-target export {{ rd }}:{{ rd_number }}
  route-target import {{ rd }}:{{ rd_number }}
 exit-address-family
 !
  address-family ipv6
  route-target export {{ rd }}:{{ rd_number }}
  route-target import {{ rd }}:{{ rd_number }}
 exit-address-family
 !
   {%- endfor %}
     {%- endfor %}
{%- endif %}

